<div class="container-fluid">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a routerLink="" class="nav-link active">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="./portfolio" class="nav-link">
        Portfolio
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="./about" class="nav-link">
        About me
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="./contact" class="nav-link">
        Contact
      </a>
    </li>
  </ul>
</div>
